.container {
  margin: 10px;
}
.control-parts {
  margin-top: 8px;
  margin-right: 24px;
}
.checks {
  display: flex;
}
.control-parts-label {
  font-weight: bold;
  padding-right: 10px;
}

.pads {
  margin-top: 20px;
  text-align: center;
  .pad-canvas {
    width: 17vw;
    height: 17vw;
    margin: 2vw;
  }
}

.select {
  width: 150px;
}

.btn {
  color: white;
  background-color: grey;
  padding: 0.3rem 0.8rem;
  border-radius: 6px;
  font-weight: bold;
  margin: 4px;
}
