.control-parts {
  margin-top: 8px;
  .control-parts-label {
    font-weight: bold;
    padding-right: 10px;
  }
}

.pads {
  margin-top: 20px;
  text-align: center;
  .pad-canvas {
    margin: 10px;
  }
}
